/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 15, 2022, 1:54:37 AM
    Author     : hambo
*/

.flex-container {
    display: flex;
}

#absContainer {
    color: white;
    width: 50%;
    height: 100vh;
    background-image: url(pics/absMainBackground.jpg);
}
#empContainer {
    background-image: url(pics/empMainBackground.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50%;
    height: 100vh;
}